<?php
define('UC_CONNECT', 'mysql');
define('UC_DBHOST', 'localhost');
define('UC_DBUSER', 'root');
define('UC_DBPW', '');
define('UC_DBCHARSET', 'utf8');
define('UC_DBTABLEPRE', '`ucenter`.');
define('UC_DBCONNECT', '0');
define('UC_KEY', '123456');
define('UC_API', 'http://localhost/ucenter');
define('UC_CHARSET', 'utf-8');
define('UC_IP', '');
define('UC_APPID', '2');
define('UC_PPP', '20');
define('MYAUTH_CERT_PATH', __DIR__ . '/cert');

// cookie 作用域
$cookiedomain = '';
// cookie 作用路径
$cookiepath = '/';
