<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<title>{$app_title}</title>
	<link rel="stylesheet" type="text/css" href="./Application/Common/Css/common.css">
	<link rel="stylesheet" type="text/css" href="./Application/Mall/Css/newgoods.css">
	<script type="text/javascript" src="./Application/Common/Js/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="./Application/Common/Noty/js/noty/packaged/jquery.noty.packaged.min.js"></script>
	<script type="text/javascript">
		var page="home";
	</script>
</head>
<body>
	<include file="./Application/Common/View/common_header_mall.html" />
	<div class="set_width panel-all clearfix">
		<div class="panel-left" style="background-color:#D1D1D1"></div>
		<div class="panel-center">
			<div class="content_home" style="border:0px solid black;margin-top:10px;">
				<div class="taps_top">
					<div class="taps_style taps_sel" id="goods_tap_1">个人信息</div>
				</div>
				<div class="taps_bottom">
					<div style="border:0px solid black;margin-top:10px;">
						<table style="width:90%;line-height:40px;margin-left:10px;margin-bottom:20px;" border="0">
							<tr height="60px">
								<td>联系方式 :</td>
								<td><input name="contact" class="input_style contact" style="width:250px;" placeholder="qq,手机号等" type="text" value="{$data['contact']}">&nbsp;&nbsp;&nbsp;<span class="notice" id="notice_5">*建议30字以内</span></td>
							</tr>
							<tr height="60px">
								<td>所在地 :</td>
								<td>
									<IF condition="$data['location'] eq 1"><input name="location" type="radio" value="1" id="location_1" checked="checked"><ELSE /><input name="location" type="radio" value="1" id="location_1"></IF>江宁&nbsp;&nbsp;&nbsp;
									<IF condition="$data['location'] eq 0"><input name="location" id="location_0" type="radio" value="0" checked="checked"><ELSE /><input name="location" id="location_0" type="radio" value="0"></IF>本部&nbsp;&nbsp;&nbsp;
									<IF condition="$data['location'] eq 2"><input name="location" id="location_2" type="radio" value="2" checked="checked"><ELSE/><input name="location" id="location_2" type="radio" value="2"></IF>不限</td>
							</tr>
							<tr height="80px">
								<td>关注 :</td>
								<td>
									<in name="id0" value="$data.attention">
										<input name="attention" type="checkbox" id="classify_0" value="x" checked="checked"><label for="classify_0">手机</label>&nbsp;&nbsp;
									<else/>
										<input name="attention" type="checkbox" id="classify_0" value="x"><label for="classify_0">手机</label>&nbsp;&nbsp;
									</in>

									<in name="id1" value="$data.attention">
										<input name="attention" type="checkbox" id="classify_1" value="1" checked="checked"><label for="classify_1">电子</label>&nbsp;&nbsp;
									<else/>
										<input name="attention" type="checkbox" id="classify_1" value="1"><label for="classify_1">电子</label>&nbsp;&nbsp;
									</in>

									<in name="id2" value="$data.attention">
										<input name="attention" type="checkbox" id="classify_2" value="2" checked="checked"><label for="classify_2">书籍</label>&nbsp;&nbsp;
									<else/>
										<input name="attention" type="checkbox" id="classify_2" value="2"><label for="classify_2">书籍</label>&nbsp;&nbsp;
									</in>
										
									<in name="id3" value="$data.attention">
										<input name="attention" type="checkbox" id="classify_3" value="3" checked="checked"><label for="classify_3">车辆</label>&nbsp;&nbsp;
									<else/>
										<input name="attention" type="checkbox" id="classify_3" value="3"><label for="classify_3">车辆</label>&nbsp;&nbsp;
									</in>

									<in name="id4" value="$data.attention">
										<input name="attention" type="checkbox" id="classify_4" value="4" checked="checked"><label for="classify_4">服饰</label>&nbsp;&nbsp;
									<else/>
										<input name="attention" type="checkbox" id="classify_4" value="4"><label for="classify_4">服饰</label>&nbsp;&nbsp;
									</in>

									<in name="id5" value="$data.attention">
										<input name="attention" type="checkbox" id="classify_5" value="5" checked="checked"><label for="classify_5">化妆</label>&nbsp;&nbsp;<br/>
									<else/>
										<input name="attention" type="checkbox" id="classify_5" value="5"><label for="classify_5">化妆</label>&nbsp;&nbsp;<br/>
									</in>

									<in name="id6" value="$data.attention">
										<input name="attention" type="checkbox" id="classify_6" value="6" checked="checked"><label for="classify_6">日用</label>&nbsp;&nbsp;
									<else/>
										<input name="attention" type="checkbox" id="classify_6" value="6"><label for="classify_6">日用</label>&nbsp;&nbsp;
									</in>


									<in name="id7" value="$data.attention">
										<input name="attention" type="checkbox" id="classify_7" value="7" checked="checked"><label for="classify_7">乐器</label>&nbsp;&nbsp;
									<else/>
										<input name="attention" type="checkbox" id="classify_7" value="7"><label for="classify_7">乐器</label>&nbsp;&nbsp;
									</in>

									<in name="id10" value="$data.attention">
										<input name="attention" type="checkbox" id="classify_10" value="10" checked="checked"><label for="classify_10">虚拟</label>&nbsp;&nbsp;
									<else/>
										<input name="attention" type="checkbox" id="classify_10" value="10"><label for="classify_10">虚拟</label>&nbsp;&nbsp;
									</in>

									<in name="id11" value="$data.attention">
										<input name="attention" type="checkbox" id="classify_11" value="11" checked="checked"><label for="classify_11">食品</label>&nbsp;&nbsp;
									<else/>
										<input name="attention" type="checkbox" id="classify_11" value="11"><label for="classify_11">食品</label>&nbsp;&nbsp;
									</in>

									<in name="id8" value="$data.attention">
										<input name="attention" type="checkbox" id="classify_8" value="8" checked="checked"><label for="classify_8">房屋</label>&nbsp;&nbsp;
									<else/>
										<input name="attention" type="checkbox" id="classify_8" value="8"><label for="classify_8">房屋</label>&nbsp;&nbsp;
									</in>

									<in name="id9" value="$data.attention">
										<input name="attention" type="checkbox" id="classify_9" value="9" checked="checked"><label for="classify_9">其他</label>&nbsp;&nbsp;
									<else/>
										<input name="attention" type="checkbox" id="classify_9" value="9"><label for="classify_9">其他</label>&nbsp;&nbsp;
									</in>
								</td>
							</tr>
							<tr>
								<td colspan="2" style="font-size:13px;line-height:25px;">
								<br/>	<b>注</b> :<br/>
								&nbsp;&nbsp;&nbsp;&nbsp;1. 在发布新需求时，将自动为您填充联系方式和所在地<br/>
								&nbsp;&nbsp;&nbsp;&nbsp;2. 在右侧导航栏，将为您推荐所关注分类的最新最热商品
								</td>
							</tr>
						</table>
					</div>
				</div>
				<div style="width:60px;margin-top:20px;margin-left:200px;" class="self_submit button_green">保存</div>
				<div class="self_quxiao button_red" style="margin-top:20px;margin-left:40px;width:60px;">取消</div>				
			</div>
		</div>
		<div class="panel-right">
			<include file="./Application/Home/View/Index/common_home_right.html" />
		</div>
	</div>
	<div class="common_bottom" style="margin-top:0px;height:30px;width:100%;background-color:#404040;">
	<div style="color:white;width:410px;margin:0 auto;line-height:30px;font-size:13px;">
		<a href="http://my.nuaa.edu.cn">纸飞机南航青年网络社区</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Copyright © 2014 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="./?m=mall&a=team">开发团队</a>
	</div>
</div>
</body>
<script>
jQuery(function($){
	$('.self_submit').click(	//提交时的验证以及ajax
		function()
		{
			var str='';
			$('input[name="attention"]:checked').each(function(){
				str=$(this).val()+','+str;
			});
			var location=$('input[name="location"]:checked').val();
			var contact=$('.contact').val();
			var xx=String(contact).length;
			if(xx > 30)
			{
				noty({text: '联系方式不能超过30字',layout: 'center', type: 'error',timeout:'1000',});
				return false;
			}
			var url="./?m=home&c=config&a=config";
			var data={"location":location,"attention":str,"contact":contact};
			$.post(url,data,function(r)
				{
					if(r.code == -1)	
					{
						noty({text: '保存失败，请检查网络',layout: 'center', type: 'error',timeout:'1000',});
					}
					else if(r.code == 1)
					{
						noty({text: '保存成功',layout: 'center', type: 'success',timeout:'1000',});
						setTimeout("window.location.href='./?m=home'",2000);
					}
				});
		});
	$('.self_quxiao').click(function(){
		window.location.href='./?m=home';
	});
	$('.panel-left').css("height",$(document).height()-250);
});
</script>
</html>