<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
	<title>{$app_title}</title>
	<link rel="stylesheet" href="Application/Common/Css/common_mobile.css">
	<script src="Application/Common/Js/jquery-1.10.2.min.js"></script>
	<script src="Application/Common/Noty/js/noty/packaged/jquery.noty.packaged.min.js"></script>
	<script>
		var page="home";
		var tap_s={$tap_s};
		var p2_this={$p2_this};
		var p3_this=1;//{$p3_this};
		var p4_this={$p4_this};
	</script>
</head>
<body>
	<include file="Application/Common/View/common_header_mall_mobile.html" />	
	<div class="panel-all">
		<div class="panel-center">
			<div class="content-home">
				<div class="self-info">
					<div class="fl">
						<img src="/ucenter/avatar.php?uid={$uid}&size=middle" width="80">
					</div>
					<div class="fl shop-info">
						<div class="info-user">{$username}</div>
						<IF condition="$shop_id eq 0">
							<div><a href="?m=mall&c=shop&id={$shop_id}">查看我的店铺</a></div>
							<div><a href="?m=mall&c=shop&a=edit&id={$shop_id}">修改店铺信息</a></div>
						</IF>
					</div>
					<div class="fr panel-info">
						<div><a href="?m=home&c=config" class="button-config">设置</a></div>
						<div>正在出售 <span style="color:#2DB482;">{$num}</span></div>
						<div>已售出 <span style="color:#2DB482;">{$num_sold}</span></div>
					</div>
				</div>
				<div class="box-groups">
					<div class="boxs">
						<a name="lb1"></a>
						<div class="boxs-title">最新消息</div>
						<div class="boxs-content" id="mes-line">
							<IF condition="$mess_num eq 0">
								<div>没有未读的消息哦~</div>
							<ELSE/>
								<FOREACH name="mess" item="vo">
									<div class="mes-line" id="{$vo.message_id}">
										<IF condition="$vo.message_type eq 0">
											<a class="fl" href="?m=mall&c=goods&id={$vo.goods_id}" target="_blank">您在主题 ‘{$vo.goods_name}’ 有新回复</a>
										<ELSEIF condition="$vo.message_type eq 1"/>
											<div class="fl">您收藏的商品 '{$vo.goods_name}' 已被卖出</div>
										<ELSEIF condition="$vo.message_type eq 4"/>
											<div class="fl">您收藏的商品 '{$vo.goods_name}' 已被删除</div>
										<ELSEIF condition="$vo.message_type eq 3"/>
											<div class="fl">您的 '{$vo.goods_name}' 被管理员 {$vo.from_username} 删除</div>
										<ELSEIF condition="$vo.message_type eq 2"/>
											<a class="fl" href="?m=mall&c=goods&id={$vo.goods_id}" target="_blank">您的 '{$vo.goods_name}' 被管理员 {$vo.from_username} 关闭</a>
										</IF>
									</div>
								</FOREACH>
							</IF>
							<div id="msg-config">
								<span id="all-read">全部标记为已读</span>
								<a href="javascript:;" id="read-more">查看已读消息</a>
							</div>
						</div>
					</div>
					<div class="boxs">
						<a name="lb2"></a>
						<div class="boxs-title">我的出售/求购</div>
						<div class="boxs-content">
							<IF condition="$num eq 0">
								<div>尚未发布过出售或者求购信息哦~</div>
							<ELSE/>
								<FOREACH name="data" item="vo" key="k">
								<div class="good-all" id="{$vo.goods_id}">
									<div class="good-banner">
										<b><IF condition="$vo.need_type eq 1"><span style="color:#FE5252">出售</span><ELSE/><span style="color:#66C8A3">求购</span></IF></b>
										<a href="?c=goods&id={$vo.goods_id}" class="good-name">{$vo.goods_name}</a>
										<span class="fr good-price"><IF condition="$vo.price eq 0">价格面议<ELSE/>￥{$vo.price}</IF></span>
										<div class="goods-edit">
											<span class="edit"><i class="fa fa-pencil"></i>编辑</span>
											<span class="delete deletesold"><i class="fa fa-trash"></i>删除</span>
											<span class="soldout"><i class="fa fa-circle-thin"></i>已售出</span>
											<span class="maketop"><i class="fa fa-hand-o-up"></i>置顶</span>
										</div>
									</div>
									<div>
										<div class="good-info">
											<span>地点：<IF condition="$vo.location eq 1">江宁<ELSEIF condition="$vo.location eq 0"/>本部<ELSE/>不限</IF> | 分类：<IF condition="$vo.classify eq 0">手机<ELSEIF condition="$vo.classify eq 1"/>电子<ELSEIF condition="$vo.classify eq 2"/>书籍<ELSEIF condition="$vo.classify eq 3"/>车辆<ELSEIF condition="$vo.classify eq 4"/>服饰<ELSEIF condition="$vo.classify eq 5"/>化妆<ELSEIF condition="$vo.classify eq 6"/>日用<ELSEIF condition="$vo.classify eq 7"/>乐器<ELSEIF condition="$vo.classify eq 8"/>房屋<ELSEIF condition="$vo.classify eq 10"/>虚拟<ELSEIF condition="$vo.classify eq 11"/>食物<ELSE />其他</IF> | 联系方式：{$vo.contact}</span>
										</div>
										<div class="good-desc">
											<IF condition="$vo.photo neq ''">
											<img src="Uploads{$vo.photo}" width="110">
											<span>{$vo.description}</span>
											<ELSE/>
											<IF condition="$vo.description neq ''">{$vo.description}<ELSE/>这个人很懒，没有留下任何商品描述</IF>
											</IF>
										</div>
									</div>
								</div>
								</FOREACH>
								<div class="page">
									<a href="?m=home&p2=1#lb2">首页</a>
									<IF condition="$p2_this neq 1"><a href="?m=home&p2={$p2_this-1}#lb2">上一页</a></IF>
									<span>第 {$p2_this}/{$p2_num} 页</span>
									<IF condition="$p2_this neq $p2_num"><a href="?m=home&p2={$p2_this+1}#lb2">下一页</a></IF>
									<a href="?m=home&p2={$p2_num}#lb2">尾页</a>
								</div>
							</IF>
						</div>
					</div>
					<div class="boxs">
						<a name="lb3"></a>
						<div class="boxs-title">已出售</div>
						<div class="boxs-content">
							<IF condition="$num_sold eq 0">
								<div>暂无已完成的交易。</div>
							<ELSE/>
								<FOREACH name="soldout" item="vo" key="k">
								<div class="good-all" onclick="window.location.href='?m=mall&c=goods&id={$vo.goods_id}'">
									<div>
										<b><IF condition="$vo.need_type eq 1"><span style="color:#FE5252">出售</span><ELSE/><span style="color:#66C8A3">求购</span></IF></b>
										<a href="?c=goods&id={$vo.goods_id}" class="good-name">{$vo.goods_name}</a>
										<span class="fr good-price"><IF condition="$vo.price eq 0">价格面议<ELSE/>￥{$vo.price}</IF></span>
										<div class="goods-edit">
											<a href="?m=mall&c=goods&id={$vo.goods_id}#talk_both">
												<i class="fa fa-twitch"></i>
												<span>{$vo.mess_goods}</span>
											</a>
										</div>
									</div>
									<div>
										<div class="good-info">
											<span>地点：<IF condition="$vo.location eq 1">江宁<ELSEIF condition="$vo.location eq 0"/>本部<ELSE/>不限</IF> | 分类：<IF condition="$vo.classify eq 0">手机<ELSEIF condition="$vo.classify eq 1"/>电子<ELSEIF condition="$vo.classify eq 2"/>书籍<ELSEIF condition="$vo.classify eq 3"/>车辆<ELSEIF condition="$vo.classify eq 4"/>服饰<ELSEIF condition="$vo.classify eq 5"/>化妆<ELSEIF condition="$vo.classify eq 6"/>日用<ELSEIF condition="$vo.classify eq 7"/>乐器<ELSEIF condition="$vo.classify eq 8"/>房屋<ELSEIF condition="$vo.classify eq 10"/>虚拟<ELSEIF condition="$vo.classify eq 11"/>食物<ELSE />其他</IF> | 联系方式：{$vo.contact}</span>
										</div>
										<div class="good-desc">
											<IF condition="$vo.photo neq ''">
											<img src="Uploads{$vo.photo}" width="110">
											<span>{$vo.description}</span>
											<ELSE/>
											<IF condition="$vo.description neq ''">{$vo.description}<ELSE/>这个人很懒，没有留下任何商品描述</IF>
											</IF>
										</div>
									</div>
								</div>
								</FOREACH>
								<div class="page">
									<a href="?m=home&p3=1#lb3">首页</a>
									<IF condition="$p3_this neq 1"><a href="?m=home&p3={$p3_this-1}#lb3">上一页</a></IF>
									<span>第 {$p3_this}/{$p3_num} 页</span>
									<IF condition="$p3_this neq $p3_num"><a href="?m=home&p3={$p3_this+1}#lb3">下一页</a></IF>
									<a href="?m=home&p3={$p3_num}#lb3">尾页</a>
								</div>
							</IF>
						</div>
					</div>
					<div class="boxs">
						<a name="lb4"></a>
						<div class="boxs-title">我的收藏</div>
						<div class="boxs-content">
							<IF condition="$num_colle eq 0">
								<div>尚未收藏过商品哦~</div>
							<ELSE/>
								<FOREACH name="colle" item="vo" key="k">
								<div class="good-all" onclick="window.location.href='?m=mall&c=goods&id={$vo.goods_id}'" id="{$vo.goods_id}">
									<div>
										<b><IF condition="$vo.need_type eq 1"><span style="color:#FE5252">出售</span><ELSE/><span style="color:#66C8A3">求购</span></IF></b>
										<a href="?c=goods&id={$vo.goods_id}" class="good-name">{$vo.goods_name}</a>
										<span class="fr good-price"><IF condition="$vo.price eq 0">价格面议<ELSE/>￥{$vo.price}</IF></span>
										<div class="goods-edit">
											<span class="delete deletecoll"><i class="fa fa-trash"></i>删除</span>
										</div>
									</div>
									<div>
										<div class="good-info">
											<span>地点：<IF condition="$vo.location eq 1">江宁<ELSEIF condition="$vo.location eq 0"/>本部<ELSE/>不限</IF> | 分类：<IF condition="$vo.classify eq 0">手机<ELSEIF condition="$vo.classify eq 1"/>电子<ELSEIF condition="$vo.classify eq 2"/>书籍<ELSEIF condition="$vo.classify eq 3"/>车辆<ELSEIF condition="$vo.classify eq 4"/>服饰<ELSEIF condition="$vo.classify eq 5"/>化妆<ELSEIF condition="$vo.classify eq 6"/>日用<ELSEIF condition="$vo.classify eq 7"/>乐器<ELSEIF condition="$vo.classify eq 8"/>房屋<ELSEIF condition="$vo.classify eq 10"/>虚拟<ELSEIF condition="$vo.classify eq 11"/>食物<ELSE />其他</IF> | 联系方式：{$vo.contact}</span>
										</div>
										<div class="good-desc">
											<IF condition="$vo.photo neq ''">
											<img src="Uploads{$vo.photo}" width="110">
											<span>{$vo.description}</span>
											<ELSE/>
											<IF condition="$vo.description neq ''">{$vo.description}<ELSE/>这个人很懒，没有留下任何商品描述</IF>
											</IF>
										</div>
									</div>
								</div>
								</FOREACH>
								<div class="page">
									<a href="?m=home&p4=1#lb4">首页</a>
									<IF condition="$p4_this neq 1"><a href="?m=home&p4={$p4_this-1}#lb4">上一页</a></IF>
									<span>第 {$p4_this}/{$p4_num} 页</span>
									<IF condition="$p4_this neq $p4_num"><a href="?m=home&p4={$p4_this+1}#lb4">下一页</a></IF>
									<a href="?m=home&p4={$p4_num}#lb4">尾页</a>
								</div>
							</IF>
						</div>
					</div>
					<include file="Application/Home/View/Index/common_home_right_mobile.html"/>
				</div>
			</div>
		</div>
	</div>
	<include file="Application/Common/View/common_bottom_mobile.html" />
</body>
<script>
jQuery(function($){
	var mess_page=2;
	$('#read-more').click(function(){	//每次从已读信息里请求10条记录ajax
		var url="?m=mall&c=goods&a=get_mess";
		var data={"mess_page":mess_page};
		$.post(url,data,function(r){
			if(r.code>=1){
				for(i=0;i<r.code;i++){
					$('#mes-line').before('<div class="mes-line" id="'+r.data[i]['goods_id']+'"><a class="fl" href="?m=mall&c=goods&id='+r.data[i]['goods_id']+'" target="_blank">您在主题 ‘'+r.data[i]['goods_name']+'’ 有新回复</a></div>');
				}
				mess_page++;
			}
			else if(r.code==0)
				noty({text:'已读消息已全部显示',layout:'center',type:'error',timeout:'1000',});
			else
				noty({text:'更新出错',layout:'center',type:'error',timeout:'1000',});
		},'json');
	});

	$('#all-read').click(function(){
		$('.mes-line').each(function(i){
			var id=$(this).attr('id');
			if(id){
				var url='?m=mall&c=goods&a=read';
				var data={"message_id":id};
				$.post(url,data,function(r){
					window.location.href=window.location.href;
				},'json');
			}
		});
	});

	$('.edit').click(function(){
		var th=$(this);
		window.location.href='?c=edit&ed='+th.parents('.good-all').attr('id');
	});

	$('.deletesold').click(function(){	//新物品删除
		var r=confirm("删除后不可恢复，确认删除？");
		if (r){
			var th=$(this);
			id=th.parents('.good-all').attr('id');
			url="?m=mall&c=goods&a=delete_goods";
			data={"goods_id":id};
			$.post(url,data,function(r){
				if(r.code==1)
					noty({text:'删除成功',layout:'center', type:'success',timeout:'1000',});
				else
					noty({text:'删除失败,刷新页面后若仍未删除请联系管理员'+r.code,layout:'center', type:'error',timeout:'1000',});
			},'json');
		}
	});

	$('.soldout').click(function(){
		var r=confirm("确认本商品已售出？");
		if(r){
			url="?m=mall&c=goods&a=trade_over";
			data={"goods_id":$(this).parents('.good-all').attr('id')};
			$.post(url,data,function(r){
				if(r.code==1)
					noty({text:'交易成功，感谢您支持纸飞机',layout:'center', type:'success',timeout:'1000',});
				else
					noty({text:'操作失败,刷新页面后若仍未完成交易请联系管理员'+r.code,layout:'center', type:'error',timeout:'1000',});
			},'json');
		}
	});

	$('.maketop').click(function(){
		var th=$(this);
		id=th.parents('.good-all').attr('id');
		url="?m=mall&c=goods&a=goods_up";
		data={"goods_id":id};
		$.post(url,data,function(r){
			if(r.code==1)
				noty({text:'置顶成功',layout:'center', type:'success',timeout:'1000',});
			else
				noty({text:'操作失败'+r.code,layout:'center', type:'error',timeout:'1000',});
		},'json');
	});

	$('.deletecoll').click(function(){
		var th=$(this);
		var collect_id=th.parents('.good-all').attr('id');
		var url="?m=home&a=del_col";
		var data={"collect_id":collect_id};
		var r=confirm("确认删除该条目？");
		if(r){
			$.post(url,data,function(r){
				if(r.code==-1)
					noty({text:'无此数据,请刷新页面',layout:'center', type:'error',timeout:'1000',});
				else if(r.code == 1){
					noty({text:'删除成功',layout:'center', type:'success',timeout:'1000',});
					th.parents('.box').remove();
				}
			});
		}
	});
});
</script>
</html>