<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<title>{$app_title}</title>
	<link rel="stylesheet" type="text/css" href="./Application/Common/Css/common.css">
	<script type="text/javascript" src="./Application/Common/Js/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="./Application/Common/Js/page.js"></script>
	<script type="text/javascript" src="./Application/Common/Noty/js/noty/packaged/jquery.noty.packaged.min.js"></script>
	<script type="text/javascript" src="./Application/Common/Js/collect.js"></script>
	<script type="text/javascript">
		var page="chan";
	</script>
</head>
<body>
	<include file="./Application/Common/View/common_header_mall.html" />
	<div class="set_width panel-all clearfix">
		<div class="panel-left" style="background-color:#6799D8;"></div>
		<div class="panel-center">	

		</div>
		<div class="panel-right">	
			
		</div>
	</div>
	<include file="./Application/Common/View/common_bottom.html" />
</body>
</html>