<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
	<title>{$app_title}</title>
	<link rel="stylesheet" href="Application/Common/Css/common_mobile.css">
	<link rel="stylesheet" href="Application/Common/Css/font-awesome.min.css">
	<script src="Application/Common/Js/jquery-1.10.2.min.js"></script>
	<script src="Application/Common/Js/page.js"></script>
	<script src="Application/Common/Noty/js/noty/packaged/jquery.noty.packaged.min.js"></script>
	<script src="Application/Common/Js/collect.js"></script>
	<script>
		var page="mall";
		var page_this={$page_this};
	</script>
</head>
<body>
	<include file="Application/Common/View/common_header_mall_mobile.html" />
	<div id="board">
		<div id="board-header">商城公告</div>
		<ul>
			<FOREACH name="notice" item="vo">
				<li><a href='./?m=admin&c=notice&id={$vo.notice_id}'>{$vo.notice_title}</a></li>
			</FOREACH>
		</ul>
	</div>
	<div id="content">
	<foreach name="data" item="vo" key="k" >
		<div id="box" id="{$vo.goods_id}">
			<div id="box_left">
				<a href="Http://my.nuaa.edu.cn/?{$vo.uid}">
					<IF condition="$vo.Concern_shopid eq 0">
					<img src="http://my.nuaa.edu.cn/ucenter/avatar.php?uid={$vo.uid}&size=middle" />
					<ELSE/>
					<img src="Uploads{$vo.shop_avator}"/>
					</IF>
				</a>
				<div id="username">{$vo.username}
					<input type="hidden" value="{$vo.uid}" id="uid" /></br>
					<span style="color:#8D8B8C;">{$vo.data}</span>
				</div>
			</div>
			<div id="box_right">
				<div id="box_right_top">
					<IF condition="$vo.need_type eq 1">
						<div id="goodscondition1">出售</div>
					<ELSE/>
						<div id="goodscondition2">求购</div>
					</IF>
					<a href="?c=goods&id={$vo.goods_id}" target="_blank">{$vo.goods_name}</a>
					<IF condition="$vo.price eq 0">
						面议
					<ELSE />
						<span>{$vo.price}</span>
					</IF>
					<span>RMB</span>
					<IF condition="$vo.is_co eq 1">
						<span><img src="Application/Mall/Image/heart.png"  class="heart" title="已收藏"></span>
					<ELSE />
						<span><img src="Application/Mall/Image/heart_grey.png"  class="heart" title="收藏"></span>
					</IF> 
					<span style="color:#FE5252;" class="col_num">{$vo.col_num}</span>
					<span><img src="Application/Mall/Image/talk_green.png" onclick="document.location.href='?m=mall&c=goods&id={$vo.goods_id}#talk_both'" style="cursor:pointer;" title="查看回复"></span>
					<span style="color:#66C8A3;">{$vo.mess_goods}</span>
				</div>
			    <div id="box_right_bottom" onclick="window.open('?m=mall&c=goods&id={$vo.goods_id}','_blank')" style="cursor:pointer;">
					<div id="description">
						<IF condition="$vo.description neq ''">{$vo.description}
						<ELSE/>
							这个人很懒，没有留下任何商品描述
						</IF>
					</div>
					<!--<IF condition="$vo.photo neq ''">
						<div style="float:left;width:110px;">
							<img src="Uploads{$vo.photo}" width="110px"/>
						</div>
						我也不知道要不要图
					</IF>-->
				</div>
			</div>
		</div>
	</foreach>
	</div>
	<IF condition="$page_num gt 0">
	<div id="page">
		<div onclick="window.location.href='?m=mall'"><i class="fa fa-fast-backward"></i></div>
		<IF condition="$page_this neq 1">
		<div onclick="window.location.href='?m=mall&page={$page_this-1}'"><i class="fa fa-backward"></i></div>
		</IF>
		<FOR start="$page_start" end="$page_end">
			<div class="page_center" id="page_{$i}" onclick="window.location.href='?m=mall&page={$i}'">
				{$i}
			</div>
		</FOR>
		<IF condition="$page_this neq $page_num">
		<div onclick="window.location.href='?m=mall&page={$page_this+1}'"><i class="fa fa-forward"></i></div>
		</IF>
		<div onclick="window.location.href='?m=mall&page={$page_num}'"><i class="fa fa-fast-forward"></i></div>
	</div>
	</IF>
	<include file="Application/Common/View/common_bottom_mobile.html" />
</body>
</html>
