<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
	<title>{$app_title}</title>
	<link rel="stylesheet" type="text/css" href="./Application/Common/Css/common_mobile.css">
	<script type="text/javascript" src="./Application/Common/Js/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="./Application/Common/Js/page.js"></script>
	<script type="text/javascript" src="./Application/Common/Noty/js/noty/packaged/jquery.noty.packaged.min.js"></script>
	<script type="text/javascript" src="./Application/Common/Js/collect.js"></script>
	<script type="text/javascript">
		var page="mall";
		var lb_page={$lb};
		var lx_page={$lx};
		var dd_page={$dd};
		var page_this={$page_this};
	</script>
</head>
<body>
	<include file="./Application/Common/View/common_header_mall_mobile.html" />
	<div id="scan-class">
		<div class="dropdown" style="margin-left:6px;" id="dd">
			<a href='#' class="main_down" onclick="javascript:return false;" style="margin-left:5px;">不限地点<b class="caret"></b></a>
			<ul class="select">
				<input type="hidden" value="">	
				<li onclick="return check_dd(-1);"><a href="#">不限地点</a></li>
				<li onclick="return check_dd(1);"><a href="#">江宁</a></li>
				<li onclick="return check_dd(0);"><a href="#">本部</a></li>
			</ul>
		</div>
		<div class="dropdown" id="lb">
			<a href='#' class="main_down" onclick="javascript:return false;" style="margin-left:5px;">不限分类<b class="caret"></b></a>
			<ul class="select">
				<li onclick="return check_lb(-1);"><a href="#">不限分类</a></li>
				<li onclick="return check_lb(0);"><a href="#">手机</a></li>
				<li onclick="return check_lb(1);"><a href="#">电子</a></li>
				<li onclick="return check_lb(2);"><a href="#">书籍</a></li>
				<li onclick="return check_lb(3);"><a href="#">车辆</a></li>
				<li onclick="return check_lb(4);"><a href="#">服饰</a></li>
				<li onclick="return check_lb(5);"><a href="#">化妆</a></li>
				<li onclick="return check_lb(6);"><a href="#">日用</a></li>
				<li onclick="return check_lb(7);"><a href="#">乐器</a></li>
				<li onclick="return check_lb(10);"><a href="#">虚拟</a></li>
				<li onclick="return check_lb(11);"><a href="#">食品</a></li>
				<li onclick="return check_lb(8);"><a href="#">房屋</a></li>
				<li onclick="return check_lb(9);"><a href="#">其他</a></li>
			</ul>
		</div>
		<div class="dropdown" id="lx">
			<a href='#' class="main_down" onclick="javascript:return false;" style="margin-left:5px;">不限类型<b class="caret"></b></a>
			<ul class="select">
				<li onclick="return check_lx(-1);"><a href="#">不限类型</a></li>
				<li onclick="return check_lx(1);"><a href="#">出售</a></li>
				<li onclick="return check_lx(0);"><a href="#">求购</a></li>
			</ul>
		</div>
	</div>
	<div id="content">
	<foreach name="data" item="vo" key="k" >
		<div class="box" id="{$vo.goods_id}" onclick="linkto({$vo.goods_id})">
			<div class="box_left">
				<IF condition="$vo.photo neq ''">
				<img src="Uploads{$vo.photo}" width="100%">
				<ELSE/>
				<img src="./Uploads/logo.jpg" width="100%">
				</IF>
			</div>
			<div class="box_right">
				<div class="box_right_top">
					<div class="good_title">
						<IF condition="$vo.need_type eq 1">
							<div class="goodcondition1">出</div>
						<ELSE/>
							<div class="goodcondition2">求</div>
						</IF>
						<a>{$vo.goods_name}</a>
					</div>
					<div>
						<IF condition="$vo.price eq 0">价格面议<ELSE/>￥{$vo.price}</IF>
						<span style="color:#FE5252">
							<IF condition="$vo.is_co eq 1">
								<i class="fa fa-heart heart"></i>
							<ELSE/>
								<i class="fa fa-heart-o heart"></i>
							</IF>
							<span class="col_num">{$vo.col_num}</span>
						</span>
						<span style="color:#66C8A3">
							<i class="fa fa-twitch"></i>
							<span>{$vo.mess_goods}</span>
						</span>
					</div>
					<div class="good_infos">{$vo.data} by {$vo.username}</div>
				</div>
				 <div id="info_table">
						地点:<IF condition="$vo.location eq 1">江宁
						<ELSEIF condition="$vo.location eq 0"/>本部
						<ELSE />不限
						</IF>
						分类 :<IF condition="$vo.classify eq 0">手机
						<ELSEIF condition="$vo.classify eq 1"/>电子
						<ELSEIF condition="$vo.classify eq 2"/>书籍
						<ELSEIF condition="$vo.classify eq 3"/>车辆
						<ELSEIF condition="$vo.classify eq 4"/>服饰
						<ELSEIF condition="$vo.classify eq 5"/>化妆
						<ELSEIF condition="$vo.classify eq 6"/>日用
						<ELSEIF condition="$vo.classify eq 7"/>乐器
						<ELSEIF condition="$vo.classify eq 8"/>房屋
						<ELSE />其他</IF>
						联系方式 :</td><td>{$vo.contact}
					</div>
			    <div class="box_right_bottom">
					<IF condition="$vo.description neq ''">{$vo.description}<ELSE/>这个人很懒，没有留下任何商品描述</IF>
				</div>
			</div>
		</div>
	</foreach>
	</div>
	
	<div id="page">
		<div style="color:#000;" onclick="window.location.href='./?m=mall&a=scan'">首页</div>
		<IF condition="$page_this neq 1">
		<div onclick="return page_link({$page_this-1})">上一页</div>
		</IF>
		<span>第 {$page_this}/{$page_num} 页</span>
		<IF condition="$page_this neq $page_num">
		<div onclick="return page_link({$page_this+1})">下一页</div>
		</IF>
		<div style="color:#000;" onclick="return page_link({$page_num})">尾页</div>
	</div>
	<include file="./Application/Common/View/common_right_green_mobile.html" />
	<include file="./Application/Common/View/common_bottom_mobile.html" />
</body>
<script>
var array_lb=new Array("手机","电子","书籍","车辆","服饰","化妆","日用","乐器","房屋","其他","虚拟","食品");
jQuery(function($){
	window.linkto=function(str)
	{
		window.location.href='?c=goods&id='+str;
	}
	$(document).ready(
		function()
		{
			var ddd=$('#dd').children('.main_down');	//初始化标签的值
			if(dd_page==1)
				ddd.html('江宁<b class="caret"></b>');
			else if(dd_page==0)
				ddd.html('本部<b class="caret"></b>');
			else
				ddd.html('不限地点<b class="caret"></b>');

			var lxx=$('#lx').children('.main_down');
			if(lx_page==1)
				lxx.html('出售<b class="caret"></b>');
			else if(lx_page==0)
				lxx.html('求购<b class="caret"></b>');
			else
				lxx.html('不限类型<b class="caret"></b>');

			var lbb=$('#lb').children('.main_down');
			if(lb_page >= 0 && lb_page <= 11)
				lbb.html(array_lb[lb_page]+'<b class="caret"></b>');
			else
				lbb.html('不限分类<b class="caret"></b>');
		}
	);
	window.page_link=function(page)
	{
		var lb=$('#lb').children('.main_down').html();
		if(lb=='不限分类<b class="caret"></b>')		lb=-1;
		else if(lb=='手机<b class="caret"></b>')	lb=0;
		else if(lb=='电子<b class="caret"></b>')	lb=1;
		else if(lb=='书籍<b class="caret"></b>')	lb=2;
		else if(lb=='车辆<b class="caret"></b>')	lb=3;
		else if(lb=='服饰<b class="caret"></b>')	lb=4;
		else if(lb=='化妆<b class="caret"></b>')	lb=5;
		else if(lb=='日用<b class="caret"></b>')	lb=6;
		else if(lb=='乐器<b class="caret"></b>')	lb=7;
		else if(lb=='房屋<b class="caret"></b>')	lb=8;
		else if(lb=='其他<b class="caret"></b>')	lb=9;
		else if(lb=='虚拟<b class="caret"></b>')	lb=10;
		else if(lb=='食品<b class="caret"></b>')	lb=11;

		var dd=$('#dd').children('.main_down').html();
		if(dd=='不限地点<b class="caret"></b>')		dd=-1;
		else if(dd=='江宁<b class="caret"></b>')	dd=1;
		else if(dd=='本部<b class="caret"></b>')	dd=0;

		var lx=$('#lx').children('.main_down').html();
		if(lx=='不限类型<b class="caret"></b>')		lx=-1;
		else if(lx=='出售<b class="caret"></b>')	lx=1;
		else if(lx=='求购<b class="caret"></b>')	lx=0;

		window.location.href="./?m=mall&a=scan&lb="+lb+"&dd="+dd+"&lx="+lx+"&page="+page;
	}
	$('.dropdown').hover(	//检索标签鼠标hover效果
		function()
		{
			$(this).css({"background-color":"#CCCBCB","border-color":"#B1AFAF"});
		},
		function()
		{
			$(this).css({"background-color":"#E5E2E2","border-color":"#C9C6C6"});
		}
	);
	$('.dropdown').click(	//下拉菜单效果
		function()
		{
			var ch=$(this).children('.select');
			if(ch.css("display")!='none')	//如果显示状态
			{
				ch.css("display","none");
			}
			else
			{
				ch.css("display","block");
			}
		}
	);
	$('.select li').click(	//点击下拉菜单更改相应的值
		function()
		{
			var th=$(this);
			var val=th.children().html();
			th.parent().prev('.main_down').html(val+'<b class="caret"></b>');
		}
	);
	window.check_dd=function(num)//在点击地点标签的时候获取另外两项的值并链接到相应页面
	{
		var lb=$('#lb').children('.main_down').html();
		if(lb=='不限分类<b class="caret"></b>')		lb=-1;
		else if(lb=='手机<b class="caret"></b>')	lb=0;
		else if(lb=='电子<b class="caret"></b>')	lb=1;
		else if(lb=='书籍<b class="caret"></b>')	lb=2;
		else if(lb=='车辆<b class="caret"></b>')	lb=3;
		else if(lb=='服饰<b class="caret"></b>')	lb=4;
		else if(lb=='化妆<b class="caret"></b>')	lb=5;
		else if(lb=='日用<b class="caret"></b>')	lb=6;
		else if(lb=='乐器<b class="caret"></b>')	lb=7;
		else if(lb=='房屋<b class="caret"></b>')	lb=8;
		else if(lb=='其他<b class="caret"></b>')	lb=9;
		else if(lb=='虚拟<b class="caret"></b>')	lb=10;
		else if(lb=='食品<b class="caret"></b>')	lb=11;

		var lx=$('#lx').children('.main_down').html();
		if(lx=='不限类型<b class="caret"></b>')		lx=-1;
		else if(lx=='出售<b class="caret"></b>')	lx=1;
		else if(lx=='求购<b class="caret"></b>')	lx=0;

		window.location.href="./?m=mall&a=scan&lb="+lb+"&lx="+lx+'&dd='+num;
	}
	window.check_lx=function(num)//0手机1电子2书籍3车辆4服饰5化妆6日用7乐器8房屋9其他
	{
		var lb=$('#lb').children('.main_down').html();
		if(lb=='不限分类<b class="caret"></b>')		lb=-1;
		else if(lb=='手机<b class="caret"></b>')	lb=0;
		else if(lb=='电子<b class="caret"></b>')	lb=1;
		else if(lb=='书籍<b class="caret"></b>')	lb=2;
		else if(lb=='车辆<b class="caret"></b>')	lb=3;
		else if(lb=='服饰<b class="caret"></b>')	lb=4;
		else if(lb=='化妆<b class="caret"></b>')	lb=5;
		else if(lb=='日用<b class="caret"></b>')	lb=6;
		else if(lb=='乐器<b class="caret"></b>')	lb=7;
		else if(lb=='房屋<b class="caret"></b>')	lb=8;
		else if(lb=='其他<b class="caret"></b>')	lb=9;
		else if(lb=='虚拟<b class="caret"></b>')	lb=10;
		else if(lb=='食品<b class="caret"></b>')	lb=11;

		var dd=$('#dd').children('.main_down').html();
		if(dd=='不限地点<b class="caret"></b>')		dd=-1;
		else if(dd=='江宁<b class="caret"></b>')	dd=1;
		else if(dd=='本部<b class="caret"></b>')	dd=0;

		window.location.href="./?m=mall&a=scan&lb="+lb+"&lx="+num+'&dd='+dd;
	}

	window.check_lb=function(num)//0手机1电子2书籍3车辆4服饰5化妆6日用7乐器8房屋9其他
	{
		var lx=$('#lx').children('.main_down').html();
		if(lx=='不限类型<b class="caret"></b>')		lx=-1;
		else if(lx=='出售<b class="caret"></b>')	lx=1;
		else if(lx=='求购<b class="caret"></b>')	lx=0;

		var dd=$('#dd').children('.main_down').html();
		if(dd=='不限地点<b class="caret"></b>')		dd=-1;
		else if(dd=='江宁<b class="caret"></b>')	dd=1;
		else if(dd=='本部<b class="caret"></b>')	dd=0;

		window.location.href="./?m=mall&a=scan&lb="+num+"&lx="+lx+'&dd='+dd;
	}
	$("#to_top").click(function(){
        $('body,html').animate({scrollTop:0},1000);
        return false;
    });
});
</script>
</html>