<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
	<title>{$app_title}</title>
	<link rel="stylesheet" type="text/css" href="Application/Common/Css/common_mobile.css">
	<script src="Application/Common/Js/jquery-1.10.2.min.js"></script>
	<script src="Application/Common/Js/collect.js"></script>	
	<script src="Application/Common/Js/page.js"></script>	
	<script>
		var page="mall";
		var page_this={$page_this};
	</script>
</head>
<body>
	<include file="Application/Common/View/common_header_mall_mobile.html"/>
	<div id="content">
		<IF condition="$result_num eq 0">
			<div id="no-result">搜索结果为空哎~~换个关键词吧！</div>
		<ELSE/>
		<FOREACH name="result" item="vo" key="k" >
			<div class="box" id="{$vo.goods_id}" onclick="linkto({$vo.goods_id})">
				<div class="box_left">
				<IF condition="$vo.photo neq ''">
				<img src="Uploads{$vo.photo}" width="100%">
				<ELSE/>
				<img src="./Uploads/logo.jpg" width="100%">
				</IF>
			</div>
				<div class="box_right">
					<div class="box_right_top">
						<div class="good_title">
							<IF condition="$vo.need_type eq 1">
								<div class="goodcondition1">出</div>
							<ELSE/>
								<div class="goodcondition2">求</div>
							</IF>
							<a>{$vo.goods_name}</a>
						</div>
						<div>
							<IF condition="$vo.price eq 0">价格面议<ELSE/>￥{$vo.price}</IF>
							<span style="color:#FE5252">
								<IF condition="$vo.is_co eq 1">
									<i class="fa fa-heart heart"></i>
								<ELSE/>
									<i class="fa fa-heart-o heart"></i>
								</IF>
								<span class="col_num">{$vo.col_num}</span>
							</span>
							<span style="color:#66C8A3">
								<i class="fa fa-twitch"></i>
								<span>{$vo.mess_goods}</span>
							</span>
						</div>
						<div class="good_infos">{$vo.data} by {$vo.username}</div>
					</div>
				    <div class="box_right_bottom">
						<IF condition="$vo.description neq ''">{$vo.description}<ELSE/>这个人很懒，没有留下任何商品描述</IF>
					</div>
				</div>
			</div>
		</FOREACH>
		</IF>
	</div>
	<IF condition="$page_num gt 0">
	<div id="page">
		<a href="?m=mall&a=search&page=1">首页</a>
		<IF condition="$page_this neq 1"><a href="?m=mall&a=search&page={$page_this-1}">上一页</a></IF>
		<span>第 {$page_this}/{$page_num} 页</span>
		<IF condition="$page_this neq $page_num"><a href="?m=mall&a=search&page={$page_this+1}">下一页</a></IF>
		<a href="?m=mall&a=search&page={$page_num}">尾页</a>
	</div>
	</IF>
	<include file="Application/Common/View/common_right_green_mobile.html" />
	<include file="Application/Common/View/common_bottom_mobile.html" />
</body>
<script>
	window.linkto=function(str)
	{
		window.location.href='?m=mall&c=goods&id='+str;
	}
</script>
</html>
