<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<title>{$app_title}</title>
	<link rel="stylesheet" type="text/css" href="./Application/Common/Css/common.css">
	<script type="text/javascript" src="./Application/Common/Js/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="./Application/Common/Js/collect.js"></script>	
	<script type="text/javascript" src="./Application/Common/Js/page.js"></script>	
	<script type="text/javascript">
		var page="mall";
		var page_this={$page_this};
	</script>
</head>
<body>
	<include file="./Application/Common/View/common_header_mall.html" />
	<div class="set_width panel-all clearfix" style="min-height:600px;margin-top:30px;">
		<div class="clearfix">
			<form name="search_new" id="search_new" method="get">
				<input type="hidden" name="search_type" id="search_type" value="0" />
				<input type="text" value="{$search_content}" id="search_content" name="search_content" style="border:3px solid #34b787;width:500px;height:22px;line-height:22px;margin-bottom:13px;font-size:14px;padding:5px 5px 4px 4px;float:left;font-weight:bold;" x-webkit-speech><div style="width: 70px;height: 37px;float: left;background-color: #34B787;line-height: 37px;color: white;text-align: center;cursor: pointer;font-size: 16px;" id="search_page">搜 索</div>
			</form>
		</div>
		<div class="panel-center" style="width:650px;margin-top:20px;">
			<IF condition="$result_num eq 0">
				搜索结果为空哎~~换个关键词吧！
			<ELSE/>
				<foreach name="result" item="vo">
					<div class="home_box clearfix" id="{$vo.goods_id}"  style="width:100%;">
						<div class="home_box_right" style="width:100%;">
							<div class="box_right_top" style="width:100%;">
								<IF condition="$vo.need_type eq 1"><div style="float:left;font-size:16px;line-height:32px;font-weight:bold;color:#FE5252;">出售<ELSE/><div style="float:left;font-size:16px;line-height:32px;font-weight:bold;color:#66C8A3;">求购</IF></div>
								<div style="margin-left:8px;float:left;font-size:15px;min-width:230px;font-weight:bold;line-height:34px;"><a href="./?c=goods&id={$vo.goods_id}">{$vo.goods_name}</a></div>
								<div style="float:left;font-size:18px;color:#FE5252;line-height:32px;"><IF condition="$vo.price eq 0">面议<ELSE />&nbsp;&nbsp;&nbsp;{$vo.price}</IF><span style="color:black;font-size:15px;"> RMB</span></div>
								<div style="float:right;font-size:16px;line-height:36px;"><img src="Application/Mall/Image/talk_green.png"  onclick="document.location.href='./?m=mall&c=goods&id={$vo.goods_id}#talk_both'" style="cursor:pointer;"> <span style="color:#66C8A3;">{$vo.mess_goods}</span>&nbsp;&nbsp;<img src="Application/Mall/Image/edit.png" class="edit"></div>
							</div>
							<div class="box_right_center" style="width:100%;"></div>
							<div class="box_right_bottom" style="width:100%;min-height:50px;cursor:pointer;" onclick="document.location.href='./?m=mall&c=goods&id={$vo.goods_id}'">
								<table width="480px" height="28px" style="font-size:12px;float:left;"  class="info_table">
									<tr>
										<td width="32px">地点 :</td><td width="33px"><IF condition="$vo.location eq 1">江宁<ELSEIF condition="$vo.location eq 0"/>本部<ELSE />不限</IF></td><td width="32px">分类 :</td><td width="35px"><IF condition="$vo.classify eq 0">手机<ELSEIF condition="$vo.classify eq 1"/>电子<ELSEIF condition="$vo.classify eq 2"/>书籍<ELSEIF condition="$vo.classify eq 3"/>车辆<ELSEIF condition="$vo.classify eq 4"/>服饰<ELSEIF condition="$vo.classify eq 5"/>化妆<ELSEIF condition="$vo.classify eq 6"/>日用<ELSEIF condition="$vo.classify eq 7"/>乐器<ELSEIF condition="$vo.classify eq 8"/>房屋<ELSE />其他</IF></td>
										<td  width="55px">联系方式 :</td><td>{$vo.contact}</td>
									</tr>
								</table>
								<div class="clearfix">
									<IF condition="$vo.photo neq ''"><div style="float:left;width:110px;"><img src="./Uploads{$vo.photo}" width="110px"/></div>
									<div style="float:right;width:525px;" class="description">{$vo.description}</div>
									<ELSE/><div style="float:right;width:100%" class="description"><IF condition="$vo.description neq ''">{$vo.description}<ELSE /><span style="color:grey;" class="description">这个人很懒，没有留下任何商品描述</span></IF></div></IF>
								</div>
							</div>
						</div>
					</div>
				</foreach>
			</IF>
				<div class="page">
				<div class="page_left_left" onclick="next_page(1)"></div>
				<IF condition="$page_this neq 1"><div class="page_left" onclick="next_page({$page_this-1})"></div></IF>
				<IF condition="$page_num gt 9">		<!--//页数大于9-->
					<IF condition="$page_this gt 5">
						<FOR start="$page_this-4" end="$page_this+5">
							<div class="page_center" id="page_{$i}" onclick="next_page({$i})"><div class="page_font">{$i}</div></div>
						</FOR>
					<ELSE/>
						<FOR start="1" end="10">
							<div class="page_center" id="page_{$i}" onclick="next_page({$i})"><div class="page_font">{$i}</div></div>
						</FOR>
					</IF>
				</IF>
				<IF condition="$page_num lt 10">	<!--//页数小于10-->
					<FOR start="1" end="$page_num+1">
						<div class="page_center" id="page_{$i}" onclick="next_page({$i})"><div class="page_font">{$i}</div></div>
					</FOR>
				</IF>
				<IF condition="$page_this neq $page_num"><div class="page_right" onclick="next_page({$page_this+1})"></div></IF>
				<div class="page_right_right" onclick="next_page({$page_num})"></div>
				</div>

		</div>
		<include file="./Application/Common/View/common_right_green.html" />
	</div>
	<include file="./Application/Common/View/common_bottom.html" />
</body>
<script type="text/javascript">	
jQuery(function($){
	$('.header_bottom_mall').css("display","none");

	$('#search_page').click(function (e){
		e.preventDefault();
		if($('#search_content').val()!='')
			window.location.href="./?m=mall&a=search&search_content="+$('#search_content').val()+"&search_type="+$('#search_type').val();
	});

	$('#page_'+page_this).css("background-image","url(Application/Mall/Image/circle_hover.png)");
	$('.page_center').hover(
		function()
		{
			var th=$(this);
			th.css("background-image","url(Application/Mall/Image/circle_hover.png)");
		},
		function()
		{
			var th=$(this);
			if(th.children().html() != page_this)
			{
				th.css("background-image","url(Application/Mall/Image/circle.png)");
			}
		});

	$(window).keydown(
		function(event)
		{
  			switch(event.keyCode)	//如果按下enter
  			{
  				case 13:
  				{
  					event.preventDefault();
  					if(!$('.search_content').is(':focus'))
  						window.location.href="./?m=mall&a=search&search_content="+$('#search_content').val()+"&search_type="+$('#search_type').val();
  					else
						window.location.href="./?m=mall&a=search&search_content="+$('#search_content_top').val()+"&search_type="+$('#search_type_top').val();
  				}	
  			}
  		});


	window.next_page=function(num)
	{
		window.location.href=window.location.href+'&page='+num;
	}
});
</script>
</html>
