<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
	<title>{$app_title}</title>
	<link rel="stylesheet" type="text/css" href="./Application/Common/Css/common_mobile.css">
	<script type="text/javascript" src="./Application/Common/Js/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="./Application/Common/Js/page.js"></script>
	<script type="text/javascript" src="./Application/Common/Noty/js/noty/packaged/jquery.noty.packaged.min.js"></script>
	<script type="text/javascript">
		var page="mall";
		var page_this='{$page_this}';
	</script>
</head>
<body>
	<include file="./Application/Common/View/common_header_mall_mobile.html" />
	<div id="shop-top">
		<div id="self-photo">
			<img src="./Uploads{$shop.cover}" />
		</div>
		<div id="self-info">
			<div id="si-title">{$shop.shop_name}</div>
			<span>正在出售:{$num}</span>
			<br/>
			<span>店铺描述:{$shop.description}</span>
			<br/>
			<span>联系方式:{$shop.contact}</span>
		</div>
	</div>
	<div id="content">
	<foreach name="data" item="vo" key="k" >
		<div class="box" id="{$vo.goods_id}" onclick="linkto({$vo.goods_id})">
			<div class="box_left">
				<IF condition="$vo.photo neq ''">
				<img src="Uploads{$vo.photo}" width="100%">
				</IF>
			</div>
			<div class="box_right">
				<div class="box_right_top">
					<div class="good_title">
						<IF condition="$vo.need_type eq 1">
							<div class="goodcondition1">出</div>
						<ELSE/>
							<div class="goodcondition2">求</div>
						</IF>
						<a>{$vo.goods_name}</a>
					</div>
					<div>
						<IF condition="$vo.price eq 0">价格面议<ELSE/>￥{$vo.price}</IF>
						<span style="color:#FE5252">
							<IF condition="$vo.is_co eq 1">
								<i class="fa fa-heart heart"></i>
							<ELSE/>
								<i class="fa fa-heart-o heart"></i>
							</IF>
							<span class="col_num">{$vo.col_num}</span>
						</span>
						<span style="color:#66C8A3">
							<i class="fa fa-twitch"></i>
							<span>{$vo.mess_goods}</span>
						</span>
					</div>
					<div class="good_infos">{$vo.data} by {$vo.username}</div>
				</div>
				 <div id="info_table">
						地点:<IF condition="$vo.location eq 1">江宁
						<ELSEIF condition="$vo.location eq 0"/>本部
						<ELSE />不限
						</IF>
						分类 :<IF condition="$vo.classify eq 0">手机
						<ELSEIF condition="$vo.classify eq 1"/>电子
						<ELSEIF condition="$vo.classify eq 2"/>书籍
						<ELSEIF condition="$vo.classify eq 3"/>车辆
						<ELSEIF condition="$vo.classify eq 4"/>服饰
						<ELSEIF condition="$vo.classify eq 5"/>化妆
						<ELSEIF condition="$vo.classify eq 6"/>日用
						<ELSEIF condition="$vo.classify eq 7"/>乐器
						<ELSEIF condition="$vo.classify eq 8"/>房屋
						<ELSE />其他</IF>
						联系方式 :</td><td>{$vo.contact}
					</div>
			    <div class="box_right_bottom" onclick="window.open('?m=mall&c=goods&id={$vo.goods_id}','_blank')">
					<IF condition="$vo.description neq ''">{$vo.description}<ELSE/>这个人很懒，没有留下任何商品描述</IF>
				</div>
			</div>
		</div>
	</foreach>
	</div>
	<IF condition="$page_num gt 0">
	<div id="page">
		<div style="color:#000;" onclick="link_to(1)">首页</div>
		<IF condition="$page_this neq 1">
		<div onclick="link_to({$page_this-1})">上一页</div>
		</IF>
		<span>第 {$page_this}/{$page_num} 页</span>
		<IF condition="$page_this neq $page_num">
		<div onclick="link_to({$page_this+1})">下一页</div>
		</IF>
		<div style="color:#000;" onclick="link_to({$page_num})">尾页</div>
	</div>
	</IF>
	<include file="./Application/Common/View/common_bottom_mobile.html" />
</body>
<script>
	window.link_to=function(page)
	{
		var url=window.location.href;
		var id=url.match(/&id=\d/g)[0].match(/\d/);
		window.location.href='./?m=mall&c=shop&id='+id+'&page='+page;
	};
	window.linkto=function(str)
	{
		window.location.href='?m=mall&c=goods&id='+str;
	}
</script>
</body>