<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<title>{$app_title}</title>
	<link rel="stylesheet" type="text/css" href="./Application/Common/Css/common.css">
	<link rel="stylesheet" type="text/css" href="./Application/Common/Css/newgoods.css">
	<script type="text/javascript" src="./Application/Common/Js/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="./Application/Common/Noty/js/noty/packaged/jquery.noty.packaged.min.js"></script>
	<script type="text/javascript">
		var page="mall";
	</script>
</head>
<body>
	<include file="./Application/Common/View/common_header_mall.html" />
	<div class="set_width panel-all clearfix">
		<div class="panel-left" style="height:500px;"></div>
		<div class="panel-center">
			<form action="./?m=mall&c=shop&a=save_change" method="post" id="new_goods" enctype="multipart/form-data">
				<table width="560px" class="content_table" style="margin:20px auto;width:590px;padding:10px 15px;border:2px solid #34B787;border-radius:2px;font-size:15px;line-height:45px;">
					<tr>
						<td width="100px" class="col"><span class="red_star">*</span>店铺名称</td>
						<td><input name="shop_name" class="shop_name input_style" style="width:250px;" value="{$shop.shop_name}" type="text">&nbsp;&nbsp;&nbsp;<span class="notice" id="notice_3">*建议20个汉字以内<input type="hidden" name="shop_id" value="{$shop.shop_id}"/><span></td>
					</tr>
					<tr>
						<td  class="col"><span class="red_star">*</span>店铺分类</td>
						<td>
							<IN name="id0" value="$shop.shop_type">
								<input name="classify1[]" type="checkbox" id="classify_0" value="x" checked="checked">手机&nbsp;&nbsp;
							<ELSE/>
								<input name="classify1[]" type="checkbox" id="classify_0" value="x">手机&nbsp;&nbsp;
							</IN>
							<IN name="id1" value="$shop.shop_type">
								<input name="classify1[]" type="checkbox" id="classify_1" value="1" checked="checked">电子&nbsp;&nbsp;
							<ELSE/>
								<input name="classify1[]" type="checkbox" id="classify_1" value="1">电子&nbsp;&nbsp;
							</IN>
							<IN name="id2" value="$shop.shop_type">
								<input name="classify1[]" type="checkbox" id="classify_2" value="2" checked="checked">书籍&nbsp;&nbsp;
							<ELSE/>
								<input name="classify1[]" type="checkbox" id="classify_2" value="2">书籍&nbsp;&nbsp;
							</IN>
							<IN name="id3" value="$shop.shop_type">
								<input name="classify1[]" type="checkbox" id="classify_3" value="3" checked="checked">车辆&nbsp;&nbsp;
							<ELSE/>
								<input name="classify1[]" type="checkbox" id="classify_3" value="3">车辆&nbsp;&nbsp;
							</IN>
							<IN name="id4" value="$shop.shop_type">
								<input name="classify1[]" type="checkbox" id="classify_4" value="4" checked="checked">服饰&nbsp;&nbsp;<br/>
							<ELSE/>
								<input name="classify1[]" type="checkbox" id="classify_4" value="4">服饰&nbsp;&nbsp;
							</IN>
							<IN name="id5" value="$shop.shop_type">
								<input name="classify1[]" type="checkbox" id="classify_5" value="5" checked="checked">化妆&nbsp;&nbsp;
							<ELSE/>
								<input name="classify1[]" type="checkbox" id="classify_5" value="5">化妆&nbsp;&nbsp;<br/>
							</IN>
							<IN name="id6" value="$shop.shop_type">
								<input name="classify1[]" type="checkbox" id="classify_6" value="6" checked="checked">日用&nbsp;&nbsp;
							<ELSE/>
								<input name="classify1[]" type="checkbox" id="classify_6" value="6">日用&nbsp;&nbsp;
							</IN>
							<IN name="id7" value="$shop.shop_type">
								<input name="classify1[]" type="checkbox" id="classify_7" value="7" checked="checked">乐器&nbsp;&nbsp;
							<ELSE/>
								<input name="classify1[]" type="checkbox" id="classify_7" value="7">乐器&nbsp;&nbsp;
							</IN>
							<IN name="id10" value="$shop.shop_type">
								<input name="classify1[]" type="checkbox" id="classify_10" value="10" checked="checked">虚拟&nbsp;&nbsp;
							<ELSE/>
								<input name="classify1[]" type="checkbox" id="classify_10" value="10">虚拟&nbsp;&nbsp;
							</IN>
							<IN name="id11" value="$shop.shop_type">
								<input name="classify1[]" type="checkbox" id="classify_11" value="11" checked="checked">食品&nbsp;&nbsp;
							<ELSE/>
								<input name="classify1[]" type="checkbox" id="classify_11" value="11">食品&nbsp;&nbsp;
							</IN>
							<IN name="id8" value="$shop.shop_type">
								<input name="classify1[]" type="checkbox" id="classify_8" value="8" checked="checked">房屋&nbsp;&nbsp;
							<ELSE/>
								<input name="classify1[]" type="checkbox" id="classify_8" value="8">房屋&nbsp;&nbsp;
							</IN>
							<IN name="id9" value="$shop.shop_type">
								<input name="classify1[]" type="checkbox" id="classify_9" value="9" checked="checked">其他
							<ELSE/>
								<input name="classify1[]" type="checkbox" id="classify_9" value="9">其他
							</IN>
						</td>
					</tr>
					<tr>
						<td class="col">店铺封面</td>
						<td><span style="color:red;font-size:12px;line-height:12px;">注: 图片大小限制为9M,建议上传正方形图片以获取最佳浏览效果</span><input type="file" name="image" /></td>
					</tr>
					<tr>
						<td class="col">描述</td>
						<td><input type="text" name="description" class="input_style description" value="{$shop.description}" style="width:250px;" placeholder="店铺描述">&nbsp;&nbsp;&nbsp;<span class="notice" id="notice_4">*建议60字以内</span></td>
					</tr>
					<tr>
						<td class="col"><span class="red_star">*</span>联系方式</td>
						<td><input name="contact" class="input_style contact" style="width:250px;" placeholder="qq,手机号等" type="text" value="{$shop.contact}">&nbsp;&nbsp;&nbsp;<span class="notice" id="notice_5">*建议30字以内</span></td>
					</tr>
				</table>
			</form>
			<div class="button_green" style="margin:10px 260px;">提交</div>
		</div>
		<include file="./Application/Common/View/common_right_green.html" />
	</div>
	<include file="./Application/Common/View/common_bottom.html" />
</body>
<script>
jQuery(function($){
	$(window).load(function(){
		$('.panel-left').css("height",$(document).height()-(355));
	});
	function change_notice( id_value, content, color)
	{
		//alert(id_value);
		$(id_value).html(content).css({"color":color,"font-weight":"bold"});
	}

	$('.shop_name').change(function(){
		var th=$(this);
		var x=String(th.val());
		if(x.length > 20)
		{
			change_notice('#notice_3','商品名称不能超过20字','red');
		}
		else
		{
			change_notice('#notice_3','√','#34B787');
		}
	});
	$('.description').change(function(){
		var th=$(this);
		var x=String(th.val());
		if(x.length > 60)
		{
			change_notice('#notice_4','店铺描述不能超过60字','red');
		}
		else
		{
			change_notice('#notice_4','√','#34B787');
		}
	});
	$('.contact').change(function(){
		var th=$(this);
		var x=String(th.val());
		if(x.length > 30)
		{
			change_notice('#notice_5','联系方式不能超过30字','red');
		}
		else
		{
			change_notice('#notice_5','√','#34B787');
		}
	});

	$('.button_green').click(function(){
		var str_name=String($('.shop_name').val());
		var str_description=String($('.description').val());
		var str_contact=String($('.contact').val());
		var classify = $('input:checkbox[name="classify1[]"]:checked').length;
		if(str_name.length >20 || str_description.length > 60 || str_contact.length > 30 || classify <=0 || str_name.length==0 || str_contact.length==0)
			noty({text: '相关信息不完整/有误',layout: 'center', type: 'error',timeout:'1000',});
		else
			$('#new_goods').submit();
	});
});
</script>
</html>