<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
	<title>{$app_title}</title>
	<link rel="stylesheet" type="text/css" href="./Application/Common/Css/common_mobile.css">
	<script type="text/javascript" src="./Application/Common/Js/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="./Application/Common/Js/page.js"></script>
	<script type="text/javascript" src="./Application/Common/Noty/js/noty/packaged/jquery.noty.packaged.min.js"></script>
	<script type="text/javascript">
		var page="mall";
		var page_this='{$page_this}';
	</script>
</head>
<body>
	<include file="./Application/Common/View/common_header_mall_mobile.html"/>
	<div id="shop-list">
		<FOREACH name="shop" item="vo">
			<div id="sl-box" onclick="linkto({$vo.shop_id})">
				<div id="sl-box-img">
					<Img src="./Uploads{$vo.cover}">
				</div>
				<div id="sl-box-right">
					<div id="sl-box-righttop">
						<span>{$vo.shop_name}</span><br>
						<span>共有商品 {$vo.num}件</span><br>
						<span>主营 : {$vo.shop_type}</span>
					</div>
					<div id="sl-box-rightbottom">
						<FOR start="0" end="$vo.photo_num">
							<img src="./Uploads{$vo[photo][$i]}" class="shop_img" width="100px" />
						</FOR>
					</div>
				</div>
			</div>
		</FOREACH>	
	</div>
	<IF condition="$page_num gt 0">
	<div id="page">
		<div style="color:#000;" onclick="link_to(1)">首页</div>
		<IF condition="$page_this neq 1">
		<div onclick="link_to({$page_this-1})">上一页</div>
		</IF>
		<span>第 {$page_this}/{$page_num} 页</span>
		<IF condition="$page_this neq $page_num">
		<div onclick="link_to({$page_this+1})">下一页</div>
		</IF>
		<div style="color:#000;" onclick="link_to({$page_num})">尾页</div>
	</div>
	</IF>
	<include file="./Application/Common/View/common_right_green_mobile.html" />
	<include file="./Application/Common/View/common_bottom_mobile.html" />
</body>
<script>
$(function(){
	window.link_to=function(page)
	{
		window.location.href='./?m=mall&c=shop&a=shop_list&page='+page;
	}
	window.linkto=function(str)
	{
		window.location.href='./?m=mall&c=shop&id='+str;
	}});
</script>
</html>