<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<title>{$app_title}</title>
	<link rel="stylesheet" type="text/css" href="./Application/Common/Css/common.css">
	<script type="text/javascript" src="./Application/Common/Js/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="./Application/Common/Js/page.js"></script>
	<script type="text/javascript" src="./Application/Common/Noty/js/noty/packaged/jquery.noty.packaged.min.js"></script>
	<script type="text/javascript">
		var page="mall";
		var page_this='{$page_this}';
	</script>
</head>
<body>
	<include file="./Application/Common/View/common_header_mall.html" />
	<div class="set_width panel-all clearfix">
		<div class="panel-left"></div>
		<div class="panel-center">
			<div class="content" style="width:600px;margin:20px auto;">
				<FOREACH name="shop" item="vo">
				<div class="shop_box clearfix">
					<div class="shop_left">
						<Img src="./Uploads{$vo.cover}" width="80px">
					</div>
					<div class="shop_right">
						<div class="clearfix"><div style="display:inline;float:left;font-size:16px;"><a href='./?m=mall&c=shop&id={$vo.shop_id}'>{$vo.shop_name}</a></div><div style="display:inline;float:right;font-size:13px;color:#B6B1B1;">共有商品 <span style="font-size:16px;color:#34B787;font-weight:bold;">{$vo.num}</span> 件&nbsp;</div></div>
						<div class="shop_line"></div>
						<div style="font-size:13px;color:black;">主营 : {$vo.shop_type}</div>
						<div style="margin-top:8px;margin-bottom:5px;">
							<FOR start="0" end="$vo.photo_num">
								<img src="./Uploads{$vo[photo][$i]}" class="shop_img" width="100px" />
							</FOR>
						</div>
					</div>
				</div>
				</FOREACH>
			</div>
			<div class="page" style="width:600px;margin:20px auto;">
				<div class="page_left_left" onclick="link_to(1)"></div>
				<IF condition="$page_this neq 1"><div class="page_left" onclick="link_to({$page_this-1})"></div></IF>
				<IF condition="$page_num gt 9">		<!--//页数大于9-->
					<IF condition="$page_this gt 5">
						<FOR start="$page_this-4" end="$page_this+5">
							<div class="page_center" id="page_{$i}" onclick="link_to({$i})"><div class="page_font">{$i}</div></div>
						</FOR>
					<ELSE/>
						<FOR start="1" end="10">
							<div class="page_center" id="page_{$i}" onclick="link_to({$i})"><div class="page_font">{$i}</div></div>
						</FOR>
					</IF>
				</IF>
				<IF condition="$page_num lt 10">	<!--//页数小于10-->
					<FOR start="1" end="$page_num+1">
						<div class="page_center" id="page_{$i}" onclick="link_to({$i})"><div class="page_font">{$i}</div></div>
					</FOR>
				</IF>
				<IF condition="$page_this neq $page_num"><div class="page_right" onclick="link_to({$page_this+1})"></div></IF>
				<div class="page_right_right" onclick="link_to({$page_num})"></div>
			</div>
		</div>
		<include file="./Application/Common/View/common_right_green.html" />
	</div>
	<include file="./Application/Common/View/common_bottom.html" />
</body>
<script>
jQuery(function($){
	$(window).load(function(){
		$('.panel-left').css("height",$(document).height()-(355));
	});

	window.link_to=function(page)
	{
		window.location.href='./?m=mall&c=shop&a=shop_list&page='+page;
	}

});
</script>
</html>