*{
	outline:none;
}
a{
	text-decoration:none;
	color:#000;
}
.fl{float:left;}
.fr{float:right;}
html,body{
	margin:0 auto;
	padding:0;
	position:absolute;
	width:100%;
	min-height:100%;
	padding-bottom:60px;
	box-sizing:border-box;
}
#header_top{
	background:#34B787;
	min-height:50px;
	overflow:hidden;
}
#header_top>button{
	background:#34B787;
	border:none;
	color:#FFF;
	font-size:1.2em;
	float:right;
	width:50px;
	height:50px;
	text-align:center;
	transition:background 200ms;
}
#header_top>button.expand{
	background:#149767;
}
#header_title{
	float:left;
	height:50px;
	line-height:50px;
	font-size:1.1em;
	color:#FFF;
	padding:0 0.8em;
}
#navbar{
	font-family:"微软雅黑";
	background:#149767;
	clear:both;
	position:absolute;
	top:50px;
	left:0;
	right:0;
	height:0;
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	transition:all 200ms;
	z-index:2;
	opacity:0;
}
#navbar.expand{
	height:240px;
	opacity:1;
}
#navbar.guest.expand{
	height:50px;
}
#navbar.guest *{
	height:50px;
	line-height:50px;
}
#navbar>a{
	display:block;
	height:40px;
	line-height:40px;
	text-decoration:none;
	color:#FFF;
	font-size:0.9em;
}
#navbar hr{
	border:none;
	border-top:1px solid rgba(0,0,0,0.1);
}
#navbar>a>li{
	height:40px;
	line-height:40px;
	padding-left:1em;
}
#header_center{
	position:relative;
}
#header_center_nav{
	font-family:"微软雅黑";
	height:45px;
	background:#F2F2F2;
}
#header_center_nav span{
	float:left;
	width:50%;
	height:45px;
	line-height:45px;
	text-align:center;
	box-sizing:border-box;
}
.bottom_mall{
	color:#149767;
	border-bottom:2px solid #149767;
}
.bottom_home{
	color:#F56C7E;
	border-bottom:2px solid #F56C7E;
}
#searchbar{
	position:absolute;
	background:#149767;
	top:50px;
	left:0;
	right:0;
	height:0;
	line-height:50px;
	z-index:1;
	transition:all 200ms;
	overflow:hidden;
	opacity:0;
}
#searchbar.expand{
	height:50px;
	opacity:1;
}
#class{
	position:absolute;
	background:#149767;
	width:100%;
	top:50px;
	left:0;
	right:0;
	height:0;
	z-index:1;
	overflow:hidden;
	opacity:0;
	transition:all 200ms;
}
#class.expand{
	height:90px;
	opacity:1;
}
#class>table
{
	line-height:40px;
	font-size:1em;
	width:100%;
	text-align:center;
	color:#FFF;
	font-family:"微软雅黑";
}
#search_content_top{
	background:rgba(0,0,0,0);
	border:none;
	border-bottom:2px solid rgba(255,255,255,0.6);
	color:rgba(255,255,255,0.6);
	height:30px;
	font-family:"微软雅黑";
	padding:0 0.5em;
	width:60%;
	margin-left:1em;
}		
#search_button{
	font-family:"微软雅黑";
	height:30px;
	margin:0 0.5em;
	padding:0 0.5em;
	background:rgba(255,255,255,0.6);
	border:none;
}
select{
	height:30px;
	margin:0 0.5em;
	border:none;
	padding:0 0.5em;
	background: rgba(255,255,255,0.6);
}
#common_bottom{
	position:absolute;
	width:100%;
	bottom:0;
	background:#555;
	color:#AAA;
	padding:5px 0;
	font-size:0.9em;
	box-sizing:border-box;
}
#common_bottom>div{
	text-align:center;
}
#common_bottom a{
	text-decoration:none;
	color:#DDD;
	text-align:center;
}
.board{
	margin:0.5em;
	min-height:60px;
	background:#EAF8F3;
	height:auto;
	overflow:hidden;
	font-family:"微软雅黑";
	box-sizing:border-box;
}
.board-header{
	padding-left:10px;
	display:inline-block;
	float:left;
	width:100%;
	background:#34B787;
	height:40px;
	text-align:left;
	color:#FFF;
	line-height:40px;
	font-family:"微软雅黑";
	overflow:hidden;
	box-sizing:border-box;
}
.board a{
	font-size:1em;
	color:black;
}
.board ul{
	margin:0;
	float:left;
	background:#EAF8F3;
	width:100%;
	box-sizing:border-box;
	padding:0.5em 1.5em;
	transition:all 200ms;
}
.limit{
	max-height:112px;
	overflow:hidden;
}
.board li{
	height:20px;
	line-height:20px;
	text-align:left;
	width:100%;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	list-style-position:inside;
}
#more-new-shop{
	float:right;
	margin:0.4em;
	font-size:0.8em;
	text-decoration:underline;
}
#more-new-notice{
	float:right;
	margin:0.4em;
	font-size:0.8em;
	text-decoration:underline;
}
#newgoods{
	padding:0 1em;
	display:inline-block;
	height:40px;
	line-height:40px;
	text-decoration:none;
	color:#FFF;
	font-size:0.9em;
}
#content{
	margin:0.5em;
	overflow:hidden;
	border-bottom:2px dotted #CBCBCB;
}
.box{
	margin:10px 0;
	width:100%;
	border:2px solid #34B787;
	padding:0.2em 0 0.5em;
	overflow:hidden;
	box-sizing:border-box;
}
.username{
	width:100%;
	height:50px;
	text-align:center;
	font-size:0.7em;
	overflow:hidden;
	font-family:"微软雅黑";
}
.box_left{
	width:25%;
	min-height:1em;
	float:left;
}
.box_right{
	font-family:"微软雅黑";
	width:75%;
	float:left;
	overflow:hidden;
	padding-left:0.5em;
	box-sizing:border-box;
}
.box_right_top{
	font-size:0.8em;
}
.box_right_bottom,.good_title{
	width:100%;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.good_infos{
	color:#999;
	margin-top:0.3em;
}
.goodcondition1{
	font-family:"微软雅黑";
	float:left;
	font-size:0.9em;
	padding-left:0.2em;
	padding-right:0.5em;
	font-weight:bold;
	height:25px;
	line-height:25px;
	color:#FE5252;
}
.goodcondition2{
	padding-left:0.2em;
	padding-right:0.5em;
	height:25px;
	line-height:25px;
	float:left;
	font-size:0.9em;
	text-align:center;
	font-weight:bold;
	color:#66C8A3;
	font-family:"Helvetica Neue",Helvetica,Arial,Sans-serif;
}
.box_right_top a{
	height:25px;
	line-height:25px;
	font-weight:bold;
	color:black;
	padding-right:0.5em; 
}
.box_right_bottom{
	height:100%;
	width:100%;
	box-sizing:border-box;
	font-size:0.9em;
	overflow:hidden;
	word-break:break-all;
	font-family:"微软雅黑";
	padding:0.2em 0 0;
}
#page{
	line-height:40px;
	height:40px;
	margin:0 auto;
	text-align:center;
	color:#34B787;
	font-weight:bold;
	font-size:0.8em;
}
#page div{
	display:inline-block;
}
#info-image{
	width:100%;
	height:360px;
	overflow:hidden;
	box-sizing:border-box;
	border-bottom:5px solid #34B787;
}
#info-description{
	font-family:"微软雅黑";
	width:100%;
	height:auto;
	overflow:hidden;
	box-sizing:border-box;
}
#id-top{
	min-height:100px;
	padding:0.5em;
	border-bottom:2px dotted grey;
	box-sizing:border-box;
}
#id-bottom{
	min-height:100px;
	padding:0.5em;
	font-size:1.1em;
}
#info-image-top{
	margin:0 auto;
	width:260px;
}
#info-image-top img{
	margin:0 auto;
	height:260px;
}
#info-image-bottom img{
	width:80px;
	margin:2px 5px;
	border:2px solid grey;"
}
#infocondition1{
	padding-right:1em;
	float:left;
	font-weight:bold;
	height:25px;
	line-height:25px;
	color:#FE5252;
}
#infocondition2{
	padding-right:1em;
	float:left;
	font-weight:bold;
	height:25px;
	line-height:25px;
	color:#66C8A3;
}
#info-goodsname{
	font-weight:bold;
	font-size:1.5em;
}
#info-price{
	margin:0.5em 0;
	font-family: "Helvetica Neue",Helvetica,Arial,Sans-serif;
}
#ip-right{
	display:inline-block;
	float:right;
	margin-top:10px;
	padding-right:1em;
}
.goodcondition{
	float:right;
	color:grey;
	font-weight:bold;
	font-size:1.5em;
	margin-top:15px;
}
#info-discuss{
	width:100%;
	min-height:200px;
}
#talk-both,#my-talk{
	padding:0.5em;
	width:100%;
	overflow:hidden;
	box-sizing:border-box;
}
#talk-left,#info-mytalk{
	display:block;
	font-size:1em;
	float:left;
	color:grey;
	font-family:"微软雅黑";
}
#mess_content{
	padding:0 0.5em;
}
#info-line{
	border-bottom:5px solid #34B787;
	height:10px;
}
#mytalk-text{
	padding:0.5em;
	overflow:hidden;
	box-sizing:border-box;
	position:relative;
}
#mytalk-text img{
	width:60px;
	height:60px;
	float:left;
}
#mytalk-text textarea{
	margin-left:2em;
	width:60%;
	height:130px;
	float:left;
}
#out_talk{
	position:absolute;
	top:90px;
	display:block;
	width:60px;
	float:left;
	height:40px;
	line-height:40px;
	color:white;
	text-align:center;
	cursor:pointer;
	font-size:1em;
	background-color:#34B787;
	font-family:"微软雅黑";
}
#notice{
	font-family:"微软雅黑";
	padding:0.5em;
}
#notice a{
	color:#34B787;
	font-size:0.8em;
}
#notice-head{
	min-height:40px;
	padding-bottom:0.5em;
	border-bottom:2px dotted grey;
}
#notice-title{
	font-size:1.8em;
	font-weight:bold;
}
#notice-content{
	font-size:1.2em;
	padding-top:0.5em;
	font-family:"宋体";
}
.boxs-title{
	background:#F56C7E;
	padding-left:10px;
	height:40px;
	line-height:40px;
	box-sizing:border-box;
	color:#FFF;
}
.self-info{
	overflow:hidden;
	padding:1em;
	padding-bottom:0.5em;
	box-sizing:border-box;
}
.box-groups{
	margin:0 0.5em;
	font-family:"微软雅黑";
}
.boxs{
	background:#F8F3EA;
	margin:0.5em 0;
}
.boxs-content{
	padding:0.5em;
	box-sizing:border-box;
	font-size:0.9em;
}
#all-read,.button-config{background:#F56C7E;padding:0.4em 0.8em;color:#FFF;}
.panel-info{text-align:right;font-size:0.8em;}
.panel-info>div{margin:0.5em 0;}
.shop-info{margin-left:0.5em;}
.shop-info a{color:gray;font-size:0.8em;}
.shop-info .info-user{font-weight:bold;line-height:2em;}
#msg-config{font-size:0.8em;height:2.5em;line-height:3em;}
#read-more{float:right;color:gray;}
.good-name{color:#000;}
.good-banner{overflow:hidden;}
.good-price{color:#FE5252;}
.goods-edit{padding:0.5em 0;}
.goods-edit>*{color:#34B787;margin:0.2em;display:inline-block;}
.goods-edit .delete{color:#EF424A;}
.good-info{width:100%;color:gray;font-size:0.8em;}
.good-desc{margin:0.4em 0 0.1em;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.good-comments{color:#66C8A3;}
.mes-line{overflow:hidden;}
.good-all{margin:0.1em;border:2px solid #F56C7E;padding:0.5em;box-sizing:border-box;}
.page{text-align:center;margin:0.3em 0 0.1em;}
.page a{color:#000;}
.form-title{margin:0.5em 0;font-weight:bold;}
.form-content{color:#000;}
input[type=text]{color:#000;border:1px solid #BBB;border-radius:0.2em;width:100%;box-sizing:border-box;padding:0.5em;}
.form-tip{color:gray;font-size:0.9em;margin:0.2em 0;}
.btn{padding:0.5em 1em;color:#FFF;}
.btn-green{background:#34B787;}
.btn-red{background:#F56C7E;}
label{white-space:nowrap;}
#shop-top{
	padding:1em;
	height:100px;
	overflow:hidden;
	border-bottom:2px dotted grey;
}
#self-photo{
	float:left;
}
#self-photo img{
	width:100px;
	height:100px;
}
#self-info{
	line-height:20px;
	padding-left:1em;
	width:100px;
	height:100px;
	float:left;
}
#self-info span{
	font-size:0.8em;
	font-family:"微软雅黑";
}
#si-title{
	font-size:1.2em;
	font-weight:bold;
	color:#34B787; 
}
#shop-panel{
	padding:0.5em;
	overflow:hidden;
	box-sizing:border-box;
}
.shop-box{
	float:left;
	margin:0.5em 0;
	height:110px;
	width:100%;
	border:2px solid #34B787;
	box-sizing:border-box;
}
#info_table{
	color:grey;
	font-family:"微软雅黑";
	font-size:0.7em;
	padding-bottom:0.2em;
}
#shop-list
{
	padding:0.5em;
	overflow:hidden;
	box-sizing:border-box;
}
#sl-box{
	padding:0.5em;
	min-height:100px;
	border:2px solid #34B787;
	margin-bottom:0.5em;
	overflow:hidden;
	box-sizing:border-box;
}
#sl-box-img{
	display:inline-block;
	width:80px;
	height:80px;
	float:left;
}
#sl-box img{
	width:80px;
	height:80px;
}
#sl-box-right{
	display:inline-block;
	float:left;
	width:60%;
	min-height:100px;
	padding-left:0.5em;
	overflow:hidden;
}
#sl-box-righttop{
	font-size:0.8em;
	width:100%;
	min-height:40px;
	font-family:"微软雅黑";
	border-bottom:2px dotted #CBCBCB;
}
#sl-box-righttop a{
	font-size:1em;
	font-weight:bold;	
}
#sl-box-rightbottom{
	width:100%;
	min-height:20px;
}
#sl-box-rightbottom img{
	height:60px;
	width:60px;
	margin:0.4em;
}
#no-result{
	height:40px;
	line-height:40px;
	font-size:1em;
	border-bottom:2px dotted #CBCBCB;
}
#shop-edit{
	height:500px;
	margin:0.5em;
	border:2px solid #34B787;
}
#shop-edit table{
	font-family:"微软雅黑";
	width:100%;
}
#shop-edit tr{
	height:100px;
}
.td1{
	width:80px;
}
.td2{
	width:70%;
	font-size:0.9em;
}
.red_star{
	color:red;
}
.td2>input{
	width:90%;
}
textarea{
	width:100%;
	padding:0.5em;
	border-radius:0.2em;
	box-sizing:border-box;
}
#shopedit-button{
	font-family:"微软雅黑";
	color:#FFF;
	text-align: center;
	background:#34B787;
	float:right;
	width:50px;
	height:40px;
	line-height:40px;
	margin-bottom:0.5em;
	border-radius:0.5em;
}
#class a{
	color:#FFF;
}
#newgoodpanel{
	margin:0.5em;
}
#newgoodpanel table{
	font-family:"微软雅黑";
	width:100%;
	border-bottom:2px dotted #CBCBCB;
}
#newgoodpanel tr{
	height:100px;
}
#newbuttons{
	margin:0.5em;
}
#newbuttons a{	
	color:#FFF;
	font-family:"微软雅黑";
}
#newbuttons>div,.button_green{
	text-align:center;
	margin:0.5em 0;
	padding:0.3em 0.5em;
	background:#34B787;
	color:#FFF;
	display:inline-block;
}
#newgood-confirm{
	margin:0.5em;
}
#newgood-confirm>*{
	vertical-align:bottom;
	margin:0;
}
hr{
	border:0;
	border-bottom:1px solid #BBB;
	margin:0.5em 0;
}
#newshop{
	float:right;
	color:#FFF;
	margin-right:0.5em;
}
.dropdown{	
	width:25%;	
	height:25px;	
	background-color:#E5E2E2;	
	border: 2px solid #C9C6C6; 
	font-size: 14px;	
	line-height: 25px;	
	float:left;	
	margin-right:10px;
}
.caret{	
	display: inline-block;	
	width: 0;	
	height: 0;	
	margin-left: 2px;	
	vertical-align: middle;	
	border-top: 6px solid;
	border-right: 4px solid transparent;	
	border-left: 4px solid transparent;	
	float:right;	
	margin-top: 10px;	
	margin-right: 5px;
}
.dropdown a{	
	font-size: 14px;	
	text-decoration: none;	
	color: black;
}
.select{	
	box-shadow: 3px 3px 10px rgba(0,0,0,0.3);	
	background-color:white;	width:83px;	
	border-left: 2px solid #B1AFAF;
	border-right: 2px solid #B1AFAF;	
	border-bottom: 2px solid #B1AFAF;	
	margin-left: -2px;	
	margin-top: 2px;
	line-height: 23px;	
	display: none;	
	position:relative;	
	z-index: 200;
}
.select li:hover{	
	background-color: grey;
}
.scan-term{
	font-family:"微软雅黑";
	float:left;
	line-height:20px;
	font-size:1em;
	width:20%;
}
#scan-class{
	padding:0.5em;
	height:20px;
}