<div id="header_top">
	<div id="header_title">南航Mall</div>
	<button id="btn-navbar" onclick="toggleMenu('navbar','searchbar','class')"><i class="fa fa-user"></i></button>
	<button id="btn-searchbar" onclick="toggleMenu('searchbar','navbar','class')"><i class="fa fa-search"></i></button>
	<button id="btn-class" onclick="toggleMenu('class','navbar','searchbar')"><i class="fa fa-reorder"></i></button>
	<ul id="navbar">
		<form method="post" id="new_demand" action="?c=newgoods">
		<input type="hidden" name="in_where" id="in_where_input"/>
		<div id="newgoods">发布新需求</div>
		<select>
			<option id="in_mall">集市</option>
			<option id="in_change">换客</option>
		</select>
		</form>
		<IF condition="session('?uid') eq 0">
		<a href="/sso/?page=login&redirect_uri={:base64_encode($_SERVER['REQUEST_URI'])}" id="load_button"><li>登录</li></a>
		<ELSE/>
		<IF condition="$shop_id gt 0">
		<a href="?m=mall&c=shop&id={$shop_id}"><li>查看我的店铺</li></a>
		<a href="?m=mall&c=shop&a=edit&id={$shop_id}"><li>修改店铺信息</li></a>
		<hr>
		</IF>
		<a href='?m=home&lb=4'><li>我的收藏</li></a>
		<a href='?m=home&lb=2'><li>我的东西</li></a>
		<hr>
		<a href='?m=home&lb=1'>
		<IF condition="$mess_id neq 0">
		<span style="color:#9bff1b;"><li><b>提醒（{$mess_id}）</b></li></span>
		<ELSE/><li>提醒</li></IF>
		</a>
		<hr>
		<a href="?m=home&lb=1"><li>{$username}</li></a>
		<a href="/sso/?action=logout&redirect_uri={:base64_encode($_SERVER['REQUEST_URI'])}"><li>注销</li></a>
		</IF>
	</ul>
	<div id="searchbar">
		<form name="search" method="post" action="?m=mall&a=search">
			<div class="miao">
				<input type="hidden" name="search_type" id="search_type_top" value="0">
				<select id="search_sort_list">
					<option id="search_all">全部</option>
					<option id="search_mall">集市</option>
					<option id="search_chan">换客</option>
				</select>
				<input type="text" name="search_content" class="search_content" id="search_content_top" x-webkit-speech>
				<input type="submit" value="搜索">
			</div>
		</form>
	</div>
	<div id="class">
		<table>
			<tr>
				<a href="?m=mall&a=scan&lb=0"><td>手机</td></a>
				<a href="?m=mall&a=scan&lb=1"><td>电子</td></a>
				<a href="?m=mall&a=scan&lb=2"><td>书籍</td></a>
				<a href="?m=mall&a=scan&lb=3"><td>车辆</td></a>
				<a href="?m=mall&a=scan&lb=4"><td>服饰</td></a>
				<a href="?m=mall&a=scan&lb=5"><td>化妆</td></a>
			</tr>
			<tr>
				<a href="?m=mall&a=scan&lb=6"><td>日用</td></a>
				<a href="?m=mall&a=scan&lb=7"><td>乐器</td></a>
				<a href="?m=mall&a=scan&lb=8"><td>虚拟</td></a>
				<a href="?m=mall&a=scan&lb=9"><td>食品</td></a>
				<a href="?m=mall&a=scan&lb=10"><td>房屋</td></a>
				<a href="?m=mall&a=scan&lb=11"><td>其他</td></a>
			</tr>
		</table>
	</div>
</div>
<div id="header_center">
	<div id="header_center_nav">
		<a href="?m=mall">
			<IF condition="$m eq 'mall'">
				<span id="header_center_mall" class="bottom_mall">集市</span>
			<ELSE/>
				<span id="header_center_mall">集市</span>
			</IF>
		</a>
		<a href="?m=home">
			<IF condition="$m eq 'home'">
				<span id="header_center_personal" class="bottom_home">个人中心</span>
			<ELSE/>
				<span id="header_center_personal">个人中心</span>	
			</IF>
		</a>
	</div>
</div>
<script>
function toggleMenu(id,other,other1){
	document.querySelector("#"+id).classList.toggle("expand");
	document.querySelector("#"+other).classList.remove("expand");
	document.querySelector("#"+other1).classList.remove("expand");
	document.querySelector("#btn-"+id).classList.toggle("expand");
	document.querySelector("#btn-"+other).classList.remove("expand");
	document.querySelector("#btn-"+other1).classList.remove("expand");
}
</script>